/* Animasi goyang dengan rotasi, scaling, dan perubahan warna */
@keyframes goyang {
  0% {
    transform: rotate(0deg) scale(1);
    filter: hue-rotate(0deg);
  }
  10% {
    transform: rotate(2deg) scale(1.01);
  }
  20% {
    transform: rotate(-2deg) scale(1.01);
  }
  30% {
    transform: rotate(2deg) scale(1.01);
  }
  40% {
    transform: rotate(-2deg) scale(1.01);
  }
  50% {
    transform: rotate(0deg) scale(1);
  }
  60% {
    transform: rotate(-2deg) scale(1.01);
  }
  70% {
    transform: rotate(2deg) scale(1.01);
  }
  80% {
    transform: rotate(-2deg) scale(1.01);
  }
  90% {
    transform: rotate(2deg) scale(1.01);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

/* Penerapan animasi pada gambar SVG */
.ops {
  animation: goyang 5s ease-in-out infinite;
}

/* Gaya tambahan untuk latar belakang dan elemen lainnya */

.container {
  text-align: center;
  font-family: Arial, sans-serif;
}

h3 {
  color: #333;
  font-size: 18px;
  margin-top: 20px;
}

.buton {
  background-color: #d16b86;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 20px;
  display: inline-block;
  transition: background-color 0.3s;
}

.buton:hover {
  background-color: #ad586f;
}
